#inputID::placeholder {
    color: grey;
    opacity: 1;
}

.inputContainer{
    flex: 1;
    display: flex;
    width: '100%';
    /* height: 40; */
    border: solid white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.border{
    border: solid white;
    border-radius: 5px;
    margin: 25px;
}

.exp{
    justify-content: center;
    align-items: center;
}