:root {
  --off-white: #fafafa;
}
.nav {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  /* box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15); */
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-header{
  position: absolute;
  left: 5%;
  top: 20%;
}
.nav .nav-list{
  position: absolute;
  right: 10%;
  top: 20%;
}
.PopUp-options {
  background-color:rgb(17, 16, 16);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  width: 90%;
  height:90vh;
  position: relative;
  top: 40%;
  left: 5%;
}
.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: block;
  position: relative;
  top: 100px;
  left: 340px;
  padding: 10px 100px;
  margin-left: 2rem;
  color : white;
  font-size: x-large;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.home_content{
  margin: 0 auto;
}